* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("src/background.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.wrapper__cpu,
.wrapper__user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.cpu-point {
  font-size: 1.5em;
}

.user-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 120px;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
  font-size: 1.5em;
}

.left-card {
  background-image: url("src/redCard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.right-card {
  background-image: url("src/blueCard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.inactive {
  background-image: none;
  pointer-events: none;
}

.point-input {
  display: none;
}

.result-msg {
  margin-top: 0.5em;
  text-align: center;
  background: none;
  border: none;
  color: white;
  font-size: 1.3em;
}

button {
  margin-top: 0.5em;
  width: 100px;
  height: 50px;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
}
